nav.navbar.navbar-default.navbar-static-top {
    background-color: #20B2AA;
}

.navbar-default.sidebar {
    background-color: #20B2AA;
}

/*a {
    color: Blue;
}*/

.bg-mycolur {
    background-color: #20B2AA;
}
